body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider_container
{
    position: absolute;
    width: 75%;
    height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(157, 157, 157, 25%);
    overflow: hidden;
}
.labels
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.la
{
    width: 1.5rem;
    height: 1rem;
    border: 2px solid #fff;
    margin: 1rem 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}
.la:hover
{
    background-color: #fff;
}
input[id="r1"]:checked ~ .sl {
    animation-play-state: paused;
}
input[type="radio"]
{
    position: absolute;
    top: 0;
    left: 0px;
    visibility: hidden;
}

.imgs
{
    position: absolute;
    height: 100%;
    width: 300%;
    z-index: -1;
    display: flex;
    transition: 0.5s;
}
.imgs:hover .s1
{
    animation-play-state: paused;
}
.slide
{
    width: 33.33%;
    transition: 1.5s;
}
img
{
    height: 100%;
    width: 100%;
}
#r1:checked ~ .s1
{
    margin-left: 0;
}
#r2:checked ~ .s1
{
    margin-left: -33.33%;
}
#r3:checked ~ .s1
{
    margin-left: -66.66%;
}
